<h1 class="mediumHeadline">My Swear Jar</h1>
<div class="text-center">
	<% if @current_mission %>
		<a href="/missions/<%= @current_mission.id %>/edit">
			<button class="btn btn-success btn-lg">Add to Swear Jar</button>
		</a>
	<% end %>
</div>
<% if @current_mission %>
<div class="link"><a href="/missions/<%= @current_mission.id %>" class="hvr-grow-rotate hvr-reveal">
	<h3>Current Balance: $<%= @current_mission.current_balance %></h3></a>
</div>
<% end %>

<div class="activity">
	<h2 class="mediumHeadline">What's the scoop?</h2>
	<% @updates.each do |update| %>
			<% if update.user_id == @current_user.id %>
			<p class="friend">You added $<%= update.amount %> to your swear jar about <%= distance_of_time_in_words(update.created_at, Time.new()) %> ago.. </p>	
			<% else %>
			<p class="me"><%= update.user.first_name %> added $<%= update.amount %> to the swear jar about <%= distance_of_time_in_words(update.created_at, Time.new()) %> ago.. </p>	
			<% end %>
	<% end %>
	</div>
