<!DOCTYPE html>
<html>
<head>
  <title>SwearForCharityNew</title>

  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,200,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,200,300|Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Fjalla+One|Raleway|Indie+Flower' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
		<%= render 'layouts/header' %>
    <% if flash[:errors_array] %>
      <%= pluralize(flash[:errors_array].count, "error")%> preventd you from submitting: 
        <% flash[:errors_array].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    <% end %>
    <% if flash[:errors] %>
      <%= flash[:errors] %>
    <% end %>
    <% if flash[:success] %>
     <%= flash[:success] %>
    <% end %>
		<%= yield %>
	</div>
</body>
</html>
